@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

body {
  /* Menggunakan warna hitam pekat agar menyatu sempurna dengan background logo */
  background: #050512;
  color: #f8fafc;
  overflow-x: hidden;
}

/* Animasi Melayang untuk Logo Santara */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Class pembantu untuk animasi */
.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* Custom Scrollbar agar tetap minimalis */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #050512;
}

::-webkit-scrollbar-thumb {
  background: #1e1e3f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e5f;
}